<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Control</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>Página de control</h1>
    <button id="start">Iniciar</button>
    <p id="info"></p>
    <script src="/assets/control.js"></script>
  </body>
</html>
