<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Control</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <center>
      <h1>Página de control</h1>
      <p id="round">Rondas finalizadas: 0</p>
      <button id="start">Iniciar ronda</button>
      <button id="stop">Detener ronda</button>
      <p id="info"></p>

      <div style="width:500px">
        <table style="margin-left:0px;margin-top:25px;" class="table table-striped" id="companies">
          <thead><tr>
            <th style="width:25px; " align="center">Compañia</th>
            <th style="width:25px; " align="center">Dispensas</th>
            <th style="width:25px; " align="center">Eligibilidad</th>
          </tr></thead>
        </table>
      </div>
    </center>

    <script src="/assets/controlJS.js"></script>
  </body>
</html>
